:root {
  --color-purple: #8257E6;
  --color-green: #50fa7b;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #282a36;
  color: #fff;
  font-family: 'Arvo', serif;
}

header {
  padding: 32px;
  border-bottom: 2px solid var(--color-green);
  background: rgba(0, 0, 0, 0.1);
}

.links {
  text-align: center;
}

.links a {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin: 0 24px;
  text-decoration: none;
}

.links a:hover {
  color: var(--color-purple);
  transition: color 200ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  border: 3px solid var(--color-purple);
  width: 270px;
  margin-bottom: 32px;
}

#wrapper h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8 ;
}

#wrapper p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 18px;
  line-height: 28px;
}

#wrapper p a {
  color: var(--color-purple);
}

footer {
  padding: 32px;
  border-top: 1px solid var(--color-green);
  background: rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

footer .links a {
  border-bottom: 1px solid var(--color-purple);
}

/* ===CARDS=== */

 .cards {
   max-width: 800px;
   margin: 0 auto;
   display: grid;
   padding: 10px;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;
 }

 .card {
   background-color: #000;
 }

 .card-image-container img {
   width: 100%;
 }

 .card-content {
   padding: 16px;
 }

 /* ===MODAL=== */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: #fff;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .icons {
  display: flex;
  justify-content: space-between;

}

.modal .maxi-modal {
  color: #000;
  right: 18px;
  position: absolute;
  top: 18px;
  cursor: pointer;
}

.modal .close-modal {
  color: #000;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

 /* ===MODAL ATIVO=== */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5%;
}